<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<head>

</head>

<body style="background-color: #fff; font-family: arial; text-align: center;" bgcolor="#053968">

<img class="corporate_inv" style="max-width: 800px;" src="http://fbtech.in/images/skywalk.jpg">

<div class="container" style="height: auto; max-width: 800px; background-color: #fff; margin: 0 auto;">
<div style="float: left; width: 30%; height: 225px;">
<img style="height: 225px;" src="http://fbtech.in/images/hr.jpg">
</div>
<br>
<div style="text-align: left; height: 210px;" align="left">
<table style="font-size: 15px; font-weight: bold;" cellspacing="10">
<tr style="padding: 30px 0;">
<td style="color: #1e0259; font-weight: bold;">
DESIGNATION
</td>
<td style="padding: 0px 15px;">
:
</td>
<td style="color: #152f3a;">
Marketing Executive (Retail &amp; Services)
</td>
</tr>


<tr style="padding: 10px;">
<td style="color: #1e0259; font-weight: bold; text-transform: uppercase;">
Qualification
</td>
<td style="padding: 5px 15px;">
:
</td>
<td style="color: #152f3a;">
( Any Graduate ) Fresher's with Good English Communication skills
</td>
</tr>

<tr style="padding: 10px;">
<td style="color: #1e0259; font-weight: bold; text-transform: uppercase;">
Salary
</td>
<td style="padding: 5px 15px;">
:
</td>
<td style="color: #152f3a;">
10k-12k ( + ESI &amp; PF )
</td>
</tr>
<tr style="padding: 10px;">
<td style="color: #1e0259; font-weight: bold; text-transform: uppercase;">
Location
</td>
<td style="padding: 10px 15px;">
:
</td>
<td style="color: #152f3a;">
Chennai
</td>
</tr>

</table>


</div>

<div class="container" style="color: #fff; max-width: 800px; background-color: #6d6e72; margin: 0 auto; padding: 30px 0;">

<h3 style="margin: 0px;">Interested Candidates<a style="text-decoration: none;" target="_blank" href="https://goo.gl/forms/c6nnnREdths3v1n62"> <span style="background-color: #ff9100; color: #fff; border-radius: 20px; margin-left: 20px; padding: 10px 30px;">Apply here &gt;&gt;</span></a>
</h3> 

</div>

<div style="color: #fff; max-width: 800px; background-color: #3c88a8;padding: 10px 0;width:100%">


<div style="text-align: left;padding-left: 30px;font-size:17px">
<p style="margin-bottom: 10px;">For further details, kindly contact:</p>
Mrs.Ponmani<br>

 7200779779 / 7200019191
 <br>
<a style="color:#fff!important;text-decoration:none">ponmani.k@fbtech.in</a>
</div>


</div>

<div style="text-align: center; padding-bottom: 15px; padding-top: 10px; margin-top: 10px;" align="center">
<span style="color: #555; text-decoration: underline;">OUR MAILING ADDRESS</span>;
<h3 style="color: #555; font-size: 20px;">Fore Brain Technologies Pvt Ltd.</h3>
<p style="color: #555; font-size: 12px;">M.S Towers, II Floor, No:633/1,P.H. Road, Aminjikarai,<br>


 Chennai &ndash; 600 029, Tamil Nadu, India<br>
 Email : info@fbtech.in, Landline : 42307128
 </p>
<hr style="width: 50%;">
<p style="color: #555; font-size: 12px;">
 www.fbtech.in / www.talentex.in<br>
Copyright &copy; 2016, Fore Brain Technologies Pvt., Ltd., All rights reserved. 
</p>
<a href="http://talentex.in/jobseekers/unsubscribe?email=${email}" target="_blank" style="color: #555 !important;"> Click here to unsubscribe or manage your preferences. </a>
</div>

</div>
</body>
</html>
