<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<head>

</head>
<body style="background-color: #fff; font-family: arial; text-align: center;" bgcolor="#fff">
<img class="corporate_inv" style="max-width: 750px;" src="http://fbtech.in/images/diwali.gif">
<div style="text-align: center; padding-bottom: 15px; padding-top: 10px; margin-top: 0px; background-color: #FFF;" align="center">
<span style="color: #000; text-decoration: underline;">OUR MAILING ADDRESS</span>;
<h3 style="color: #000; font-size: 20px;">Fore Brain Technologies Pvt Ltd.</h3>
<p style="color: #000; font-size: 12px;">M.S Towers, II Floor, No:633/1,P.H. Road, Aminjikarai,<br>

 Chennai &ndash; 600 029, Tamil Nadu, India<br>
 Email : info@fbtech.in, Landline : 42307128
 </p>
<hr style="width: 50%;">
<p style="color: #000; font-size: 12px;">
 www.fbtech.in / www.talentex.in<br>
Copyright &copy; 2016, Fore Brain Technologies Pvt., Ltd., All rights reserved. 
</p>
<a href="http://talentex.in/jobseekers/unsubscribe?email=${email}" target="_blank" style="color: #000 !important;"> Click here to unsubscribe or manage your preferences. </a>
</div>
</body>
</html>
