  <HTML>
    <HEAD>
     <TITLE>Password Recovery</TITLE>
    </HEAD>

 <BODY>
 	Hi ${username},<br><br>

To reset the password click on this link<br>
${link}

<br><br>

=========================<br>
TalentEx - <a href="http://www.talentex.in">http://www.talentex.in</a><br>
=========================<br>
 	If you are facing any problem kindly write us on <a href="mailto:info@talentex.in">info@talentex.in</a>

    </BODY>
  </HTML>
