/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 13, 2014, 11:26:41 AM
    Author     : arun
*/

strong,span,div{
   text-transform: capitalize;
}
.venue{
    overflow-wrap: break-word;
}

